edge .returned {
    fill-color: gray;
}

edge {
    text-alignment: center;
    text-background-mode: plain;
    text-background-color: rgba(255, 255, 255, 180);
    text-padding: 3;
    text-offset: 5, 0;
}

node {
    text-alignment: at-right;
    text-background-mode: plain;
    text-background-color: rgba(255, 255, 255, 180);
    text-padding: 3;
    text-offset: 5, 0;
}

node .error{
    fill-color: #fa4c29;
}